<%- include('./../partials/header') %>
  <div class="columns">
  <% coffees.forEach(function(c){ %>
    <% console.log(c); %>
    <div class="column">
      <a class="label link" href="/coffees/<%= c._id %>">
      <article class="media">
      <figure class= media-left>
        <p class='image is-64x64'>
          <% if (c.imageLink) { %>
            <img src="<%= c.imageLink %>" alt="roaster">
          <% } else { %>
            <img src="/images/paul-esch-laurent-1598744-unsplash.jpg" alt="Image of <%= c.name %>">
          <% }; %>
          <%= c.name %>
        </p>
      </figure>
      <div class="media-content">
        <p><%= c.region %></p>
        <br>
        <p><%= c.roaster %></p>
    </div>
    </article>
  </a>
    </div>
   <% }) %>
</div>

<%- include('./../partials/footer') %>
