<%- include('./../partials/header') %>
  <% coffees.forEach(function(c){ %>
    <% console.log(c); %>
      <article class="media">
      <a class="label link" href="/coffees/<%= c._id %>">
      <figure class= media-left>
        <p class='image is-64x64'>
          <% if (c.imageLink) { %>
            <img src="<%= c.imageLink %>" alt="roaster">
          <% } else { %>
            <img src="/images/paul-esch-laurent-1598744-unsplash.jpg" alt="Image of <%= c.name %>">
          <% }; %>
        </p>
      </figure>
      <div class="media-content">
        <p>
          <%= c.name %>
        </p>
        <p><%= c.region %></p>
        <br>
        <p><%= c.roaster %></p>
      </div>
    </a>
    </article>
    <% }) %>


<%- include('./../partials/footer') %>
