<%- include('./../partials/header') %>
  <div class = "container clearfix">
  <% coffees.forEach(function(c){ %>
      <article class="media">
      <figure class= "media-left">
        <figure class='image is-128x128'>
        <a class="label link" href="/coffees/<%= c._id %>">
          <% if (c.imageLink) { %>
            <img src="<%= c.imageLink %>" alt="Image of <%= c.name %>">
          <% } else { %>
            <img src="/images/paul-esch-laurent-1598744-unsplash.jpg" alt="Image of <%= c.name %>">
          <% }; %>
        </a>
        </figure>
      </figure>
      <div class="media-content">
        <h3 class='title'>
          <%= c.name %>
        </h3>
        <h3 class ='subtitle'>
          <%= c.roaster %>
        </h3>
        <h3 class ='subtitle'>
          <%= c.region %>
        </h3>
        <div class="content">
          <p><%= c.description %></p>
        </div>
      </div>
    </article>
    <% }) %>
  </div>

<%- include('./../partials/footer') %>
